<!doctype html>
<html>
	<table border=1>
		<tr>
			<th style="min-width:100px" align="left">Item</th>
			<th style="min-width:1px" align="left">Completed?</th>
			<th style="min-width:1px" align="left">Priority</th>
			<th style="min-width:1px" align="left">Tags</th>
			<th style="min-width:1px" align="left">Remove</th>
			<th style="min-width:1px" align="left">Time</th>
		</tr>
		{% for item in items %}
		<tr style="color:white" bgcolor={{item.priority.color}}>
			<td>{{ item.name }}</td>
			<td>
				
				<form action="/check/{{item.id}}" method="post">
					<div>
						<button type="submit">{{item.checked}}</button>
					</div>
				</form>
			</td>
			<td>
				<form action="/prioritize/{{item.id}}" method="post">
					<div>
						<select name="priority_selection" onchange="this.form.submit()">
							{% for priority in item.priority.priority_list%}
							<option>{{ priority }}</option>
							{% endfor %}
						</select>
					</div>
				</form>
			</td>
			<td>
				<form action="/tagItem/{{item.id}}" method="post">
					<div>
						<select name="tag_selection" onchange="this.form.submit()">
							{% for tag in item.tag.tag_list%}
							<option>{{ tag }}</option>
							{% endfor %}
						</select>
					</div>
				</form>
			</td>
			<td><a href="/remove/{{item.id}}">Remove</a></td>
			<td>{{ item.time }}</td>
		</tr>
		{% endfor %}
	</table>
</html>